<%= simple_form_for(@boat) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs" style="width: 1000px;">
    <%= f.input :name, placeholder: "Enter boat name" %>
    <%= f.input :capacity, placeholder: "Enter max boat capacity" %>
    <%= f.input :price, placeholder: "Price per day" %>
    <%= f.input :location, placeholder: "Town/city" %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "" %>
  </div>
<% end %>
